
/target
=======
# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
*.patch
.idea/

# Others
META-INF/
target/
logs/
*.pyc
*.jar
hope-python-note/www/static/bower_plugins