<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- aspect -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean name="methodMonitor" class="org.hope6537.monitor.MethodMonitor"/>
    <bean name="requestDefaultHandler" class="org.hope6537.rest.utils.RequestDefaultHandler"/>


</beans>