<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hope6537.dao.ComicDao">
    <!-- 默认模板生成 添加单行记录 -->
    <insert id="insertComic">INSERT INTO `Comic`
        (`title`,`coverTitle`,`author`,`introduction`,`contentTitle`,
        <!--<if test="可以为空字段!=null and 可以为空字段!=''"> `可以为空字段`, </if>-->
        `status`, `isDeleted`, `created`, `updated`)
        VALUES
        (#{title},#{coverTitle},#{author},#{introduction},#{contentTitle},
        <!--<if test="可以为空字段!=null and 可以为空字段!=''"> #{可以为空字段}, </if>-->
        #{status}, 0, UNIX_TIMESTAMP(), UNIX_TIMESTAMP());
        <selectKey resultType="integer" keyProperty="id">SELECT LAST_INSERT_ID()</selectKey>
    </insert>
    <!-- 默认模板生成 更新单行记录 -->
    <update id="updateComic">UPDATE `Comic`
        <set>
            <if test="title!=null and title!=''">`title` = #{title},</if>
            <if test="coverTitle!=null and coverTitle!=''">`coverTitle` = #{coverTitle},</if>
            <if test="author!=null and author!=''">`author` = #{author},</if>
            <if test="introduction!=null and introduction!=''">`introduction` = #{introduction},</if>
            <if test="contentTitle!=null and contentTitle!=''">`contentTitle` = #{contentTitle},</if>

            <if test="status!=null and status!=''">`status` = #{status},</if>
            updated = UNIX_TIMESTAMP()
        </set>
        <where>id = #{id}</where>
        LIMIT 1
    </update>
    <!-- 默认模板生成 更新多行记录 -->
    <update id="batchUpdateComic">UPDATE `Comic`
        <set>
            <if test="data.title!=null and data.title!=''">`title` = #{data.title},</if>
            <if test="data.coverTitle!=null and data.coverTitle!=''">`coverTitle` = #{data.coverTitle},</if>
            <if test="data.author!=null and data.author!=''">`author` = #{data.author},</if>
            <if test="data.introduction!=null and data.introduction!=''">`introduction` = #{data.introduction},</if>
            <if test="data.contentTitle!=null and data.contentTitle!=''">`contentTitle` = #{data.contentTitle},</if>

            <if test="data.status!=null and data.status!=''">`status` = #{data.status},</if>
        </set>
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 删除单行记录-->
    <update id="deleteComic"> UPDATE `Comic` SET isDeleted = 1, updated = UNIX_TIMESTAMP() WHERE id = ${id} LIMIT 1 </update>
    <!-- 默认模板生成 删除多行记录-->
    <update id="batchDeleteComic">UPDATE `Comic` SET isDeleted = 1,updated = UNIX_TIMESTAMP()
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 根据ID选取单行记录 -->
    <select id="selectComicById"
            resultType="org.hope6537.dataobject.ComicDo"> SELECT * FROM `Comic` WHERE id = ${id} LIMIT 1 </select>
    <!-- 默认模板生成 根据ID集合选取多行记录-->
    <select id="selectComicListByIds" resultType="org.hope6537.dataobject.ComicDo">SELECT * FROM `Comic`
        <where>
            id in (
            <foreach collection="idList" item="id" separator=" , ">#{id}</foreach>
            )
        </where>
        LIMIT ${idList.size}
    </select>
    <!-- 默认模板生成 动态SQL语句 通常字段判断是否为空 并增加日期范围 -->
    <sql id="where">
        <where>1 = 1
            <if test="title!=null and title!=''">AND `title` = #{title}</if>
            <if test="coverTitle!=null and coverTitle!=''">AND `coverTitle` = #{coverTitle}</if>
            <if test="author!=null and author!=''">AND `author` = #{author}</if>
            <if test="introduction!=null and introduction!=''">AND `introduction` = #{introduction}</if>
            <if test="contentTitle!=null and contentTitle!=''">AND `contentTitle` = #{contentTitle}</if>

            <!--<if test="模糊查询字段!=null and 模糊查询字段!=''"> AND`模糊查询字段` LIKE concat('%',#{模糊查询字段},'%') </if>-->
            <if test="createdAfter!=null and createdAfter!=''">AND `created` &lt; #{createdAfter}</if>
            <if test="createdBefore!=null and createdBefore!=''">AND `created` &gt; #{createdBefore}</if>
            <if test="updatedAfter!=null and updatedAfter!=''">AND `updated` &lt; #{updatedAfter}</if>
            <if test="updatedBefore!=null and updatedBefore!=''">AND `updated` &gt; #{updatedBefore}</if>
            <if test="status!=null and status!=''">AND `status` = #{status}</if>
            <if test="isDeleted!=null and isDeleted!=''">AND `isDeleted` = #{isDeleted}</if>
        </where>
    </sql>
    <!-- 默认模板生成 根据Query对象查询记录 -->
    <select id="selectComicListByQuery" resultType="org.hope6537.dataobject.ComicDo"
            parameterType="org.hope6537.dto.ComicDto">SELECT * FROM `Comic`
        <include refid="where"/>
        ORDER BY `status`, `created` DESC
        <if test="limit!=null and limit!=''">LIMIT
            <if test="offset!=null and offset!=''">#{offset},</if>
            #{limit}
        </if>
    </select>
    <!-- 默认模板生成 根据Query对象查询符合条件的个数 -->
    <select id="selectComicCountByQuery" resultType="Integer" parameterType="org.hope6537.dataobject.ComicDo">SELECT
        count(*) FROM `Comic`
        <include refid="where"/>
    </select>
</mapper>
    