<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hope6537.dao.RelationalDao">

    <select id="selectComicIdsByClassifiedId" resultType="java.lang.Integer">
        SELECT comic_id FROM sys_comic_classified WHERE classified_id = ${id}
    </select>

    <select id="selectClassifiedIdsByComicId" resultType="java.lang.Integer">
        SELECT classified_id FROM sys_comic_classified WHERE comic_id = #{id}
    </select>

</mapper>