<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hope6537.dao.StudentDao">
    <!-- 默认模板生成 添加单行记录 -->
    <insert id="insertStudent">INSERT INTO `Student`
        (`name`,`sex`,`age`,`parentId`,`classesId`,
        <!--<if test="可以为空字段!=null and 可以为空字段!=''"> `可以为空字段`, </if>-->
        `status`, `isDeleted`, `created`, `updated`)
        VALUES
        (#{name},#{sex},#{age},#{parentId},#{classesId},
        <!--<if test="可以为空字段!=null and 可以为空字段!=''"> #{可以为空字段}, </if>-->
        #{status}, 0, UNIX_TIMESTAMP(), UNIX_TIMESTAMP());
        <selectKey resultType="integer" keyProperty="id">SELECT LAST_INSERT_ID()</selectKey>
    </insert>
    <!-- 默认模板生成 更新单行记录 -->
    <update id="updateStudent">UPDATE `Student`
        <set>
            <if test="name!=null and name!=''">`name` = #{name},</if>
            <if test="sex!=null and sex!=''">`sex` = #{sex},</if>
            <if test="age!=null and age!=''">`age` = #{age},</if>
            <if test="parentId!=null and parentId!=''">`parentId` = #{parentId},</if>
            <if test="classesId!=null and classesId!=''">`classesId` = #{classesId},</if>

            <if test="status!=null and status!=''">`status` = #{status},</if>
            updated = UNIX_TIMESTAMP()
        </set>
        <where>id = #{id}</where>
        LIMIT 1
    </update>
    <!-- 默认模板生成 更新多行记录 -->
    <update id="batchUpdateStudent">UPDATE `Student`
        <set>
            <if test="data.name!=null and data.name!=''">`name` = #{data.name},</if>
            <if test="data.sex!=null and data.sex!=''">`sex` = #{data.sex},</if>
            <if test="data.age!=null and data.age!=''">`age` = #{data.age},</if>
            <if test="data.parentId!=null and data.parentId!=''">`parentId` = #{data.parentId},</if>
            <if test="data.classesId!=null and data.classesId!=''">`classesId` = #{data.classesId},</if>

            <if test="data.status!=null and data.status!=''">`status` = #{data.status},</if>
        </set>
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 删除单行记录-->
    <update id="deleteStudent">UPDATE `Student` SET isDeleted = 1, updated = UNIX_TIMESTAMP() WHERE id = ${id} LIMIT 1
    </update>
    <!-- 默认模板生成 删除多行记录-->
    <update id="batchDeleteStudent">UPDATE `Student` SET isDeleted = 1,updated = UNIX_TIMESTAMP()
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 根据ID选取单行记录 -->
    <select id="selectStudentById" resultType="org.hope6537.dataobject.StudentDo">SELECT * FROM `Student` WHERE id =
        ${id} LIMIT 1
    </select>
    <!-- 默认模板生成 根据ID集合选取多行记录-->
    <select id="selectStudentListByIds" resultType="org.hope6537.dataobject.StudentDo">SELECT * FROM `Student`
        <where>
            id in (
            <foreach collection="idList" item="id" separator=" , ">#{id}</foreach>
            )
        </where>
        LIMIT ${idList.size}
    </select>
    <!-- 默认模板生成 根据外部ID集合选取多行记录-->
    <select id="selectStudentListByParentIds" resultType="org.hope6537.dataobject.StudentDo">SELECT * FROM `Student`
        <where>
            parentId in (
            <foreach collection="idList" item="id" separator=" , ">#{id}</foreach>
            )
        </where>
        LIMIT 3000
    </select>

    <!-- 默认模板生成 根据外部ID集合选取多行记录-->
    <select id="selectStudentListByClassesIds" resultType="org.hope6537.dataobject.StudentDo">SELECT * FROM `Student`
        <where>
            classesId in (
            <foreach collection="idList" item="id" separator=" , ">#{id}</foreach>
            )
        </where>
        LIMIT 3000
    </select>

    <!-- 默认模板生成 动态SQL语句 通常字段判断是否为空 并增加日期范围 -->
    <sql id="where">
        <where>1 = 1
            <if test="name!=null and name!=''">AND `name` = #{name}</if>
            <if test="sex!=null and sex!=''">AND `sex` = #{sex}</if>
            <if test="age!=null and age!=''">AND `age` = #{age}</if>
            <if test="parentId!=null and parentId!=''">AND `parentId` = #{parentId}</if>
            <if test="classesId!=null and classesId!=''">AND `classesId` = #{classesId}</if>

            <!--<if test="模糊查询字段!=null and 模糊查询字段!=''"> AND`模糊查询字段` LIKE concat('%',#{模糊查询字段},'%') </if>-->
            <if test="createdAfter!=null and createdAfter!=''">AND `created` &lt; #{createdAfter}</if>
            <if test="createdBefore!=null and createdBefore!=''">AND `created` &gt; #{createdBefore}</if>
            <if test="updatedAfter!=null and updatedAfter!=''">AND `updated` &lt; #{updatedAfter}</if>
            <if test="updatedBefore!=null and updatedBefore!=''">AND `updated` &gt; #{updatedBefore}</if>
            <if test="status!=null and status!=''">AND `status` = #{status}</if>
            <if test="isDeleted!=null">AND `isDeleted` = #{isDeleted}</if>
        </where>
    </sql>
    <!-- 默认模板生成 根据Query对象查询记录 -->
    <select id="selectStudentListByQuery" resultType="org.hope6537.dataobject.StudentDo"
            parameterType="org.hope6537.dto.StudentDto">SELECT * FROM `Student`
        <include refid="where"/>
        ORDER BY `created` DESC
        <if test="limit!=null and limit!=''">LIMIT
            <if test="offset!=null and offset!=''">#{offset},</if>
            #{limit}
        </if>
    </select>
    <!-- 默认模板生成 根据Query对象查询符合条件的个数 -->
    <select id="selectStudentCountByQuery" resultType="Integer" parameterType="org.hope6537.dataobject.StudentDo">SELECT
        count(*) FROM `Student`
        <include refid="where"/>
    </select>
</mapper>
    