<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hope6537.dao.TestComicDao">
    <!-- 默认模板生成 添加单行记录 -->
    <insert id="insertTestComic">INSERT INTO `TestComic`
        (`title`,
        <if test="imgTitle!=null and imgTitle!=''">`imgTitle`,</if>
        `status`, `isDeleted`, `created`, `updated`)
        VALUES
        ( #{title},
        <if test="imgTitle!=null and imgTitle!=''">#{imgTitle},</if>
        #{status}, 0, UNIX_TIMESTAMP(), UNIX_TIMESTAMP());
        <selectKey resultType="integer" keyProperty="id">SELECT LAST_INSERT_ID()</selectKey>
    </insert>
    <!-- 默认模板生成 更新单行记录 -->
    <update id="updateTestComic">UPDATE `TestComic`
        <set>
            <if test="title!=null and title!=''">`title` = #{title},</if>
            <if test="status!=null and status!=''">`status` = #{status},</if>
            updated = UNIX_TIMESTAMP()
        </set>
        <where>id = #{id}</where>
        LIMIT 1
    </update>
    <!-- 默认模板生成 更新多行记录 -->
    <update id="batchUpdateTestComic">UPDATE `TestComic`
        <set>
            <if test="data.title!=null and data.title!=''">`title` = #{data.title},</if>
            <if test="data.status!=null and data.status!=''">`status` = #{data.status},</if>
        </set>
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 删除单行记录-->
    <update id="deleteTestComic">UPDATE `TestComic` SET isDeleted = 1, updated = UNIX_TIMESTAMP() WHERE id = ${id} LIMIT
        1
    </update>
    <!-- 默认模板生成 删除多行记录-->
    <update id="batchDeleteTestComic">UPDATE `TestComic` SET isDeleted = 1,updated = UNIX_TIMESTAMP()
        <where>
            <foreach collection="idList" item="id" separator=" or ">id = #{id}</foreach>
        </where>
        LIMIT ${idList.size}
    </update>
    <!-- 默认模板生成 根据ID选取单行记录 -->
    <select id="selectTestComicById" resultType="org.hope6537.dataobject.TestComicDo">SELECT * FROM `TestComic` WHERE
        id = ${id} LIMIT 1
    </select>
    <!-- 默认模板生成 根据ID集合选取多行记录-->
    <select id="selectTestComicListByIds" resultType="org.hope6537.dataobject.TestComicDo">SELECT * FROM `TestComic`
        <where>
            id in (
            <foreach collection="idList" item="id" separator=" , ">#{id}</foreach>
            )
        </where>
        LIMIT ${idList.size}
    </select>
    <!-- 默认模板生成 动态SQL语句 通常字段判断是否为空 并增加日期范围 -->
    <sql id="where">
        <where>1 = 1
            <if test="title!=null and title!=''">AND `title` = #{title}</if>
            <if test="imgTitle!=null and imgTitle!=''">AND`imgTitle` LIKE concat('%',#{imgTitle},'%')</if>
            <if test="createdAfter!=null and createdAfter!=''">AND `created` &lt; #{createdAfter}</if>
            <if test="createdBefore!=null and createdBefore!=''">AND `created` &gt; #{createdBefore}</if>
            <if test="updatedAfter!=null and updatedAfter!=''">AND `updated` &lt; #{updatedAfter}</if>
            <if test="updatedBefore!=null and updatedBefore!=''">AND `updated` &gt; #{updatedBefore}</if>
            <if test="status!=null and status!=''">AND `status` = #{status}</if>
            <if test="isDeleted!=null and isDeleted!=''">AND `isDeleted` = #{isDeleted}</if>
        </where>
    </sql>
    <!-- 默认模板生成 根据Query对象查询记录 -->
    <select id="selectTestComicListByQuery" resultType="org.hope6537.dataobject.TestComicDo"
            parameterType="org.hope6537.dto.TestComicDto">SELECT * FROM `TestComic`
        <include refid="where"/>
        ORDER BY `created` DESC
        <if test="limit!=null and limit!=''">LIMIT
            <if test="offset!=null and offset!=''">#{offset},</if>
            #{limit}
        </if>
    </select>
    <!-- 默认模板生成 根据Query对象查询符合条件的个数 -->
    <select id="selectTestComicCountByQuery" resultType="Integer"
            parameterType="org.hope6537.dataobject.TestComicDo">SELECT count(*) FROM `TestComic`
        <include refid="where"/>
    </select>


</mapper>