<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hope6537.dao.UserDao">
    <select id="selectUserByIds" resultType="org.hope6537.dao.UserDao">
        SELECT * FROM sys_user WHERE is_deleted = 0 AND id IN
        (
        <foreach collection="ids" item="id" separator=",">
            ${id}
        </foreach>
        )LIMIT ${ids.size}
    </select>
    <select id="selectUserById" resultType="org.hope6537.dao.UserDao">
        select * from sys_user where is_deleted = 0 AND id = ${id}
    </select>
    <select id="selectUserByNickname" resultType="org.hope6537.dao.UserDao">
        SELECT * FROM sys_user WHERE is_deleted = 0 AND nickname LIKE CONCAT('%',${nickname},'%')
    </select>
    <insert id="insertUser" parameterType="org.hope6537.dataobject.UserDo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user(username, PASSWORD, nickname, sexy, email, is_deleted) VALUES
        (${username}, ${password}, ${nickname}, ${sexy}, ${email}, 0)
    </insert>
    <update id="updateUser" parameterType="org.hope6537.dataobject.UserDo">
        UPDATE sys_user SET username = ${username}, PASSWORD = ${password}, nickname = ${nickname}, sexy = ${sexy},
        email = ${email}
        WHERE id = ${id}
    </update>
    <update id="deleteUserByIds" parameterType="org.hope6537.dataobject.UserDo">
        update sys_user set is_deleted = 1 where id IN
        (
        <foreach collection="ids" item="id" separator=",">
            ${id}
        </foreach>
        )LIMIT ${ids.size}
    </update>
</mapper>