<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <import resource="spring-database.xml"/>
    <!-- 引入属性文件 -->
    <!--<context:property-placeholder location="classpath:config.properties"/>-->

    <!-- 自动扫描(自动注入) -->
    <!--<context:component-scan base-package="org.jichuang.hope6537.*.dao"/>
    <context:component-scan base-package="org.jichuang.hope6537.*.service"/>-->

</beans>